@using BestSportsStore.Web.Models.Menu.Brand

@{
    ViewBag.Title = "Index";
    const string ControllerName = "Brands";
}

<h2>@ControllerName</h2>

@(Html.Kendo()
    .Grid<BrandViewModel>()
    .Name("gridBrands")
    .Columns(cols =>
    {
        cols.Bound(b => b.Name);
        cols.Bound(b => b.ImageUrl);
        cols.Command(com => com.Edit()).Title("Edit");
        cols.Command(com => com.Destroy()).Title("Delete");
    })
    .ColumnMenu()
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Editable(edit => edit.Mode(GridEditMode.InLine))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(data =>
        data
            .Ajax()
            .Model(m =>
            {
                m.Id(b => b.Id);
            })
            .Read(read => read.Action("Read", ControllerName))
            .Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            ))