@using BestSportsStore.Web.Models.Product
@model SearchViewModel

@{
    var controllerName = string.Empty;
    if(Model.Category != null && Model.Category != string.Empty)
    {
        controllerName = "Products";
    }
    else if(Model.Brand != null && Model.Brand != string.Empty)
    {
        controllerName = "Brands";
    }
    else
    {
        controllerName = "Sports";
    }
}

@using (Html.BeginForm("Index", controllerName, new { category = Model.Category, subCategory = Model.SubCategory, brand = Model.Brand, sport = Model.Sport }))
{
    <div class="navbar-fixed-top" style="margin-left: 65%; margin-top: 50px;">
        <input type="text" placeholder="Search by Title or Content..." class="form-control" name="query" style="border-radius: 15px" value="@Model.Query" />
        <input type="submit" value="Search" class="btn btn-primary" style="margin-left:220px; margin-top: -58px; border-radius: 15px" />
    </div>
}

@section Footer {
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Sports Store</p>
    </footer>
}
