@using BestSportsStore.Web.Models.Shopping
@model ShoppingCartViewModel

<div class="navbar-fixed-top" style="margin-left: 60%; margin-top: 10px;">
    <a href="/buy/order" class="btn btn-primary">
        Products: @Model.ProductsCount <strong class="glyphicon glyphicon-shopping-cart"></strong>
    </a>
</div>
