extends shared/layout
block main-content
    .jumbotron.text-center
        img(src="/img/tictactoe.jpg", style="width: 100%")
        h1 Welcome to TIC TAC TOE game
    .jumbotron.text-center
        h3 Tic Tac Toe is very polular game. The game is played by two players. Each player can choose one free cell in tern. The game field is 3x3. When given player make three equal symbols (X or O) in ROW, COLUMN or DIAGONAL, wins the game, otherwise the game is tie.
        img(src="/img/field.png", style="width: 50%")
        