<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Belz.QueueProvider" version="1.0.0" targetFramework="net452" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net452" />
  <package id="Iron.IronCore" version="1.0.6" targetFramework="net452" />
  <package id="IronMQ.NET" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net452" />
  <package id="Rest4Net" version="0.8.2" targetFramework="net452" />
  <package id="Rest4Net.IronMq" version="0.1.1" targetFramework="net452" />
  <package id="System.Json" version="4.0.20126.16343" targetFramework="net452" />
</packages>