@model IEnumerable<NewsSystem.Web.Models.New>

@section SideBar {
    <ul>
        <li>@Html.Partial("InfoPartial")</li>
    </ul>
}

<div class="jumbotron text-center">
    <h1>Top 5 News</h1>
</div>

@foreach (var itemNew in Model)
{
    <div class="row text-center">
        <h1><a href="/details/byid/@itemNew.Id">@itemNew.Title</a></h1>
        <p>@itemNew.Content</p>
        <p>Rating: @itemNew.Rating</p>
    </div>
}