html, body {
  font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  width: 1000px;
  font-weight: 400;
  -webkit-text-stroke-width: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}



body #main {
    padding-left: 25px;
}

body #main h1 {
    font-size: 30px;
    margin-bottom: -20px;
}

body #main h2 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: normal;
}

body #main hr {
    border: 3px solid #333333;
}

body #main p {
    text-align: justify;
    color: #333333;
}

body #footer {
    margin-left: 10px;
    margin-top: 30px;
    background-color: #505050;
    font-size: 14px;
    width: 990px;
    height: 55px;
    padding-left: 20px;
    padding-top: 5px;
}

body #footer div,ul,li {
    display: inline-block;
}

body #footer #copyright {
    float: right;
    padding-top: 15px;
    color: #CCCCCC;
    padding-right: 20px;
    font-weight: bold;
}

body #footer #footerMenu {
    padding-left: 355px;
    list-style-type: none;
}

body #footer #footerMenu li {
    padding-left: 10px;
    color: #CCCCCC;
}


body #footer #footerMenu li a {
    text-decoration: none;
    color: #CCCCCC;
}

    body #footer #language {
        color: #CCCCCC;
    }

    body #header #shellHeader #logo {
        background-image: url('images/logo.png');
    }

#logo {
  background: url(images/logo.png);
  padding-left: 100px;
}

body #header #shellHeader .separator {
    border-left: 3px solid #000000;
}

#headerTitle {
    font-weight: bold;
    font-size: 22px;
}

#search {
    background-color: ##0078D7;
}