@using BestSportsStore.Web.Models.Product

@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-top: 30px;">
    <h1>Top 10 Products</h1>
</div>

@foreach (var product in Model)
{
    <div class="row text-center" style="width:50%; margin-left: 23%; margin-bottom: 40px;">
        <h2>@product.Title</h2>
        <div class="col-md-3" style="padding-top: 50px">
            <button class="glyphicon glyphicon-thumbs-up btn btn-primary" style="width: 100px; height: 60px;">
                <strong style="font-size: 20px;">@product.Likes.Count</strong>
            </button>
        </div>
        <div class="col-md-6">
            <img src="@product.ImageUrl" />
        </div>
        <div class="col-md-3">
            <h3 style="color: red" class="pull-right"><strong>@product.Price £</strong></h3>
        </div>
    </div>
}
